
/* utility */
* {
 font-family: 'Inter', sans-serif;
}
.clean_list {
  margin-bottom: 0;
  display: inline-block;
  margin-left: 10px;
}

/* header */
/* nav */

#nav_container {
  height: 80px;
  line-height: 80px;
  font-weight: 600;
}
#nav_container img {
  width: 100%;
}
#nav_button {
  color: #006aff;
  border: 1px solid #006aff;
  border-radius: 5px;
  padding: 10px;
  margin-left: 10px;
}
#nav_list_left {
  text-align: center;
}
#nav_list_right {
  text-align: right;
}
nav li:hover {
  color: #006aff;
  cursor: pointer;
}

/* header_background */

#header_background {
  background-image: url("../img/active-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left;
}
#header_container_left {
  margin: 30px 0;
}
#header_title {
  font-size: 64px;
  font-weight: 700;
  color: white;
}
#header_container_left p {
  font-size: 24px;
  font-weight: 600;
  color: #BBCCFE;
}
#header_container_right {
  background-color: white;
  border-radius: 5px;
  margin: 60px 0;
  text-align: center;
}
#header_h2 {
  margin-top: 60px;
  font-weight: 700;
}
#text_blue {
  font-weight: 700;
  color: #006aff;
  margin-top: 0;
}
.header_input {
  width: 100%;
  font-size: 24px;
  border-color: lightgrey;
  border-radius: 5px;
  margin-bottom: 10px;
}
#header_button_blue {
  width: 100%;
  font-size: 24px;
  font-weight: 600;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #579AFF;
  color: white;
  border: none;
}
#header_button_google {
  width: 100%;
  font-size: 24px;
  font-weight: 600;
  color: grey;
  border-radius: 5px;
  margin-bottom: 10px;
  line-height: 20px;
  padding: 10px;
  border: none;
  background: none;
  border-style: outset;
}
#img_google {
height: 20px;
float: left;
}

/* main */
/* main1 */

#main_1 {
  text-align: center;
  background-color: #F3F5F9;
}
#main_1_h3 {
  margin: 60px 0;
  color: #5b6987;
  font-size: 18px;
  font-weight: 600;
}
.main_1_img {
  width: 150px;
  height: 100px;
}
.img_left {
  margin-right: 30px;
}
#main_1 a {
  color: #006aff;
  display: block;
  margin: 30px 0;
}

/* main2 */

#main_2 {
  margin-bottom: 30px;
}
#main_2_top {
  text-align: center;
  margin-bottom: 30px;
}
#main_2_top p {
  font-size: 20px;
  font-weight: 600;
  color: #5b6987;
}
#main_2_h2 {
  font-weight: 700;
  margin-top: 80px;
}
#main_2 h4 {
  font-weight: 700;
}
#main_2_list {
  text-align: center;
  margin-left: 120px;
}
#main_2_list li {
  width: 80px;
  color: #5b6987;
  font-weight: 600;
  border-left: 1px solid #5b6987;
  padding: 10px;
}
#main_2_list li:hover {
  color: black;
  border-left: 2px solid #006aff;
  cursor: pointer;
}

/* main3 */

#main_3 {
  text-align: center;
  background-color: #F3F5F9;
  padding-bottom: 30px;
}
#main_3_h2 {
  font-weight: 700;
  margin-top: 80px;
}
#main_3 p {
  font-size: 20px;
  font-weight: 600;
  color: #5b6987;
  margin: 30px 0;
}
.main_3_dot {
  font-size: 15px;
  color: #006aff;
  margin-right: 10px;
}
.main_3_arrow {
  font-size: 30px;
  padding: 20px;
}

/* main4 */

#main_4 {
  text-align: left;
  margin-bottom: 60px;
}
#main_4_h2 {
  font-weight: 700;
  margin-top: 80px;
  margin-bottom: 40px;
  text-align: center;
}
#main_4 h4 {
  font-weight: 700;
}
#main_4 a {
  color: #006aff;
  display: block;
  margin: 30px 0;
}



/* visual help */
